@font-face {
  font-family: 'Roboto-Light';
  src: local('MyFont'), url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('MyFont'), url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: local('MyFont'), url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('MyFont'), url('./fonts/Roboto-Bold.ttf') format('truetype');
}

.ft-light {
  font-family: 'Roboto-Light';
}

.ft-med {
  font-family: 'Roboto-Medium';
}

.ft-reg {
  font-family: 'Roboto-Regular';
}

.ft-bold {
  font-family: 'Roboto-Bold';
}

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.fw-900 {
  font-weight: 900;
}

.sp-1 {
  letter-spacing: 1px;
}

.sp-2 {
  letter-spacing: 2px;
}

.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-26 {
  font-size: 26px;
}
.fs-28 {
  font-size: 28px;
}
.fs-30 {
  font-size: 30px;
}
.fs-32 {
  font-size: 32px;
}
.fs-34 {
  font-size: 34px;
}
.fs-36 {
  font-size: 36px;
}
.fs-38 {
  font-size: 38px;
}
.fs-40 {
  font-size: 40px;
}
.fs-42 {
  font-size: 42px;
}
.fs-44 {
  font-size: 44px;
}
.fs-46 {
  font-size: 46px;
}
.fs-48 {
  font-size: 48px;
}
.fs-50 {
  font-size: 50px;
}
.fs-52 {
  font-size: 52px;
}
.fs-54 {
  font-size: 54px;
}
.fs-56 {
  font-size: 56px;
}
.fs-58 {
  font-size: 58px;
}
.fs-60 {
  font-size: 60px;
}
.fs-62 {
  font-size: 62px;
}
.fs-64 {
  font-size: 64px;
}
.fs-66 {
  font-size: 66px;
}
.fs-68 {
  font-size: 68px;
}
.fs-70 {
  font-size: 70px;
}
.fs-72 {
  font-size: 72px;
}
.fs-74 {
  font-size: 74px;
}
.fs-76 {
  font-size: 76px;
}
.fs-78 {
  font-size: 78px;
}
.fs-80 {
  font-size: 80px;
}
